PySocks==1.7.1
beautifulsoup4==4.11.1
charset-normalizer==2.0.12
cssutils==2.4.0
html5lib==1.1
lxml==4.8.0
networkx==2.8
pefile==2021.9.3
pylibemu==0.7
pymongo==4.1.1
python-magic==0.4.25
rarfile==4.0
requests==2.27.1
requests-futures==1.0.0
ssdeep==3.4
yara-python==4.2.0
zope.interface==5.4.0
