beautifulsoup4>=4.3.2
chardet>=2.0.1
colorama>=0.2.5
cssutils>=1.0
graphviz==0.4.6
html5lib>=0.999
httplib2>=0.9.1
jsbeautifier>=1.5.5
networkx>=1.9.1
pefile>=1.2.10-114
pika>=0.9.14
pydot>=1.0.2
pymongo>=3.0.1
pyparsing==1.5.7
python-magic>=0.4.6
rarfile>=2.7
requesocks>=0.10.8
requests>=2.2.1
six>=1.9.0
yara>=1.7.7
zope.interface>=4.1.2
