name: Build

on: [push, pull_request]

jobs:
  build:
    name: Build and test Thug on ${{ matrix.os }}
    runs-on: ubuntu-22.04
    strategy:
      fail-fast: false
      matrix:
        python-version: ['3.10']
        os: [ubuntu-22.04]

    steps:
      - name: STEP 1. Checkout repository
        uses: actions/checkout@v3

      - name: STEP 2. Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}

      - name: STEP 3. Install dependencies
        run: |
          sudo apt-get install python3 python3-dev python-is-python3
          sudo apt-get install build-essential clang
          sudo apt-get install libboost-dev libboost-system-dev libboost-iostreams-dev libboost-python-dev systemtap-sdt-dev
          sudo apt-get install libfuzzy-dev graphviz libgraphviz-dev tesseract-ocr unrar xfonts-base xfonts-75dpi
          wget https://github.com/wkhtmltopdf/packaging/releases/download/0.12.6-1/wkhtmltox_0.12.6-1.bionic_amd64.deb
          sudo dpkg -i wkhtmltox_0.12.6-1.bionic_amd64.deb

      - name: STEP 4. Install libemu
        run: |
          git clone https://github.com/buffer/libemu.git
          cd libemu
          autoreconf -v -i
          ./configure
          sudo make install
          cd -
          sudo ldconfig

      - name: STEP 5. Install Tox
        run: |
          pip3 install --upgrade pip
          pip3 install tox tox-gh-actions
          pip3 install appdirs

      - name: STEP 6. Install Thug configuration
        run: |
          sudo mkdir -p /etc/thug/
          sudo cp -R conf/* /etc/thug/

      - name: STEP 7. Test Thug
        run: |
          tox
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
