name: OSX build/test workflow

on: [push, pull_request]

jobs:
  build:
    name: Build and test Thug (Python ${{ matrix.python-version }})
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        python-version: ['3.9', '3.10', '3.11', '3.12', '3.13', '3.14']
        os: [macos-14]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: |
          brew reinstall git autoconf libtool
          brew install automake graphviz tesseract libmagic pango libffi
          ln -s $(which glibtoolize) /usr/local/bin/libtoolize
          ln -s /opt/homebrew/opt/glib/lib/libgobject-2.0.0.dylib /usr/local/lib/gobject-2.0
          ln -s /opt/homebrew/opt/pango/lib/libpango-1.0.dylib /usr/local/lib/pango-1.0
          ln -s /opt/homebrew/opt/harfbuzz/lib/libharfbuzz.dylib /usr/local/lib/harfbuzz
          ln -s /opt/homebrew/opt/fontconfig/lib/libfontconfig.1.dylib /usr/local/lib/fontconfig-1
          ln -s /opt/homebrew/opt/pango/lib/libpangoft2-1.0.dylib /usr/local/lib/pangoft2-1.0
          pip install --upgrade pip setuptools wheel tox tox-gh-actions appdirs
          BUILD_LIB=1 pip install --use-pep517 ssdeep
          pip install --config-settings="--global-option=build_ext" --config-settings="--global-option=-I$(brew --prefix graphviz)/include/" --config-settings="--global-option=-L$(brew --prefix graphviz)/lib/" pygraphviz

      - name: Install libemu
        run: |
          git clone https://github.com/buffer/libemu.git
          cd libemu
          autoreconf -v -i
          ./configure
          sudo make install
          cd -

      - name: Install Thug configuration
        run: |
          sudo mkdir -p /etc/thug/
          sudo cp -R thug/conf/* /etc/thug/

      - name: Test Thug
        run: |
          tox
